  <main class="cv-content">
    <section class="profile-section">
      <h2 class="section-title">PERSONAL PROFILE</h2>
      <p class="profile-text">
        A passionate Web Developer with a strong foundation in web technologies and a user-centric mindset.
        I have completed numerous projects including responsive websites, complex and practical web applications.
        These projects have consistently helped companies with their goals and increased their engagement by 50%
        in the first 3 months. I am seeking a Web Developer role where I can utilize my experience in frontend
        as well as backend development to provide captivating digital experiences.
      </p>
    </section>
