    <div class="contact-info">
      <span class="contact-item">
        <strong>Location:</strong> Mabiga, Mabalacat City
      </span>
      <span class="separator"><strong>-</strong></span>
      <span class="contact-item">
        <strong>Mobile:</strong> 321 4321 1234
      </span>
      <span class="separator"><strong>-</strong></span>
      <span class="contact-item">
        <strong>E-Mail:</strong>
        <a href="mailto:galangredge@gmail.com"> galangredge&#64;gmail.com</a>
      </span>
    </div>
    <div class="divider"></div>
