<html>
  <div class="card">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <input class="input" placeholder="Username" formControlName="username" />
      @if (isInvalid('username')) {
      <small class="error">Username: 4-12 chars (letters/numbers/_)</small>
      }
      <input
        class="input"
        type="email"
        placeholder="Email"
        formControlName="email"
      />
      @if (isInvalid('email')) {
      <small class="error">Enter a valid email</small>
      }
      <input
        class="input"
        type="password"
        placeholder="Password"
        formControlName="password"
      />
      @if (isInvalid('password')) {
      <small class="error">Password: 8+ with upper, lower, number</small>
      }
      <input
        type="number"
        class="input"
        placeholder="Age"
        formControlName="age"
      />   @if (isInvalid('age')) {
      <small class="error">Enter a valid age</small>
      }


      <input type="text" class="address" formControlName="address" placeholder="Address">@if (isInvalid('address')) {
      <small class="error">Enter a valid address</small>
      }
      <div class="gender-group">
  <label>
    <input type="radio" formControlName="gender" value="Male" />
    Male
  </label>

  <label>
    <input type="radio" formControlName="gender" value="Female" />
    Female
  </label>
</div>

      @if (isInvalid('gender')) {
      <small class="error">Select a gender</small>
      }
      <select class="input" formControlName="role">
        @for (r of roles; track r) {
        <option [value]="r">{{ r }}</option>
        }
      </select>
      <select class="input" formControlName="department" placehold>
        @for (d of departments; track d) {
        <option [value]="d">{{ d }}</option>
        }
      </select><label for="comments">Comments</label>
      <textarea name="comments" formControlName="comments"></textarea>
      <button class="btn" type="submit" [disabled]="form.invalid">
        Submit
      </button>
    </form>
  </div>
</html>
