
body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #111;
  color: #eee;
}


h1, h2, h3 {
  margin: 0.5em 0;
  color: #f1c40f;
}


nav {
  display: flex;
  gap: 24px;
  padding: 12px 20px;
  background-color: #000;
  box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}

nav a {
  color: #eee;
  text-decoration: none;
  font-weight: 500;
  padding: 4px 0;
  transition: all 0.2s;
}

nav a.active {
  border-bottom: 2px solid #f1c40f;
  color: #f1c40f;
}


input, textarea {
  display: block;
  width: 100%;
  max-width: 400px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #555;
  border-radius: 6px;
  background-color: #222;
  color: #eee;
}

input::placeholder,
textarea::placeholder {
  color: #888;
}

button {
  background-color: #f1c40f;
  color: #111;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.2s;
}

button:hover {
  background-color: #e0b90f;
}


ul {
  list-style: none;
  padding-left: 0;
}

li {
  background-color: #222;
  padding: 14px;
  margin-bottom: 10px;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.5);
  transition: all 0.2s;
}

li:hover {
  background-color: #333;
}


input[placeholder="Search..."] {
  max-width: 300px;
  margin-bottom: 20px;
}

.intro{
  color: white;
  line-height: .2cm;
}

.date{
  color: #f1c40f
}
