
nav{
  margin-left: -20px;
  margin-right: -20px;
  padding: 10px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  background-color: black;
}
a{
    margin: 5px;
    padding: 5px;
    border-radius: 2px;
    background-color: rgb(37, 37, 90);
    color: white;
    text-decoration: none;
}
