
body {
  font-family: Verdana, sans-serif;
  margin: 20px;
  background-color: #ffffff;
  color: #ffffff;
}

h2 {
  margin-top: 30px;
  margin-bottom: 10px;
  color: #000000;
}

table.table {
  width: 100%;
  border-collapse: collapse;
  background-color: #000000;
}

table.table th,
table.table td {
  padding: 12px 15px;
  text-align: left;
}

table.table th {
  background-color: #b91c1c; 
  color: #fff;
}

table.table tr:hover {
  background-color: #b91c1c; 
  transition: 0.3s;
}


ul {
  list-style: none;
  padding: 0;
}

ul li {
  background-color: #f1f1f1;
  padding: 12px 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
  color:#000000
}

ul li:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

ul li strong {
  color: #b91c1c;
  display: block;
  margin-bottom: 5px;
}

