    <section class="references">
      <h2 class="section-title">References</h2>
      <div class="reference-item">
      <h3 class="name-ref">Satwinder Jeerh</h3>
      <ul class="reference">
            <li><strong>Designation:</strong> Project Manager</li>
            <li><strong>Company:</strong> Alphabet Inc., 1600 Amphitheatre Parkway, Mountain View, California</li>
            <li><strong>Contact:</strong> 123-512-5123, satwinder.jeerh.hutao&#64;email.com</li>
            <li><strong>Relationship:</strong> Former Superior at Alphabet Inc.</li>
          </ul>
      </div>
      <div class="reference-item">
      <h3 class="name-ref">Karl Guiao</h3>
      <ul class="reference">
            <li><strong>Designation:</strong> Web Developer</li>
            <li><strong>Company:</strong> Alphabet Inc., 1600 Amphitheatre Parkway, Mountain View, California</li>
            <li><strong>Contact:</strong> 325-412-2612, karl.guiao&#64;email.com</li>
            <li><strong>Relationship:</strong> Former Colleague at Alphabet Inc.</li>
          </ul>
      </div>
    </section>
    <section class="hire-me">
      <h2 class="section-title">Why i should be hired</h2>
      <p>I have a strong foundation in many aspects of development. My past projects are a testament to my capabilities and work ethic.
        My former coworkers vouch for my attitude and capabilities. I devote myself to furthering the company's plans by working together
        with my colleagues to achieve short and longterm goals.
        <p>
