h2 {
  margin-top: 30px;
  margin-bottom: 10px;
  color: #333;
  font-family: Arial, sans-serif;
  background-color: #000;
  width: fit-content;
  padding:.5em;
  border-radius: 10px;
  color: white;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
  font-family: Arial, sans-serif;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.table th {
  background-color: #000;
  color: white;
  font-weight: bold;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tr:hover {
  background-color: #e6f2ff;
}
